<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Smog Monitor</title>

    <link rel="stylesheet" href="static/css/main.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="temperature-section">
      <span id="temperature">temp</span>
      <span id="humidity">hum</span>
    </div>
  </body>

  <script src="static/js/main.js"></script>
</html>
